---
pagination:
  data: collections.postsByMonth
  size: 1
  alias: month
eleventyComputed:
  title: '{{ month.str }}'
permalink: '/{{ month.year }}/{{ month.month }}/'
eleventyExcludeFromCollections: true
---

<h1>{{ title }}</h1>

{% set postslist = month.posts %}
{% include "postslist.njk" %}
