---
pagination:
  data: collections.years
  size: 1
  alias: year
eleventyComputed:
  title: '{{ year }}'
permalink: '/{{ year }}/'
eleventyExcludeFromCollections: true
---

<h1>{{ title }}</h1>

{% set monthslist = collections.postsByMonth | selectAttrEquals("year", year) %}
{% include "monthslist.njk" %}
