<ul>
{% for month in monthslist %}
	{% set monthUrl %}/{{month.year}}/{{month.month}}/{% endset %}
	<li>
        <a href="{{ monthUrl }}">{{ month.str }}</a>
        <ul>
            {%- for post in month.posts | getEssays %}
                <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
            {%- endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
