---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>
<div class="meta">
	<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("EEEE, LLLL d, yyyy") }}</time>
</div>

{{ content | safe }}

{%- if elsewhere %}
<p><a href="{{ link }}">Continue reading on {{ elsewhere }}&hellip;</a></p>
{%- elif link %}
<p><a href="{{ link }}"><code>{{link}}</code></a></p>
{% endif %}

{%- if tags | isEssay %}
{%- set previousPost = collections.essays | getPreviousCollectionItem %}
{%- set nextPost = collections.essays | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
